  /*
  Colors used:
  Primary Color (Tan): #F7EFE2;
  Primary Color (Black): #000000;
  Secondary Color (Yellow): #F6E74F;
  Secondary Color (Orange): #FF4A18;
  */

  @keyframes color-change {
    from {fill: #edc655;}
    to {fill: #f76414;}
  }

  .sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
  }

  .cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }

  @keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
  }

  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }
  
  * {
    box-sizing: border-box;
}

header {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
  display: inline-block;
  position: fixed;
  width: 100%;
}

body {
  background-color: #F7EFE2;
  font-family: 'Open-Sans', sans-serif;
  font-size: 18px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

h1, h2, h3, h4 {
  font-family: 'Aboreto';
  }
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

.social-icon {
    display: inline-block;
    width: 24px;
    margin-top: 20px;
}

a {
    color: #ff7f50;
    text-decoration: none; /* No underlining */
  }

a:hover {
    color: #cc6540;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  
  a:visited,
  a:focus {
    color: #ff7f50;
  }

  a:hover,
  a:focus {
    color: #ff7f50;
    text-decoration: none;
  }

  nav > ul > li > a:hover,
  a:focus {
    color: #ff7f50;
    text-decoration: none;
  }

  a:active,
  a:focus {
    color: #994c30;
  }

  .button {
    display: inline-block;
    background-color: white;
    color: black;
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #994c30;
    transition: 0.2s opacity;
  }

  .button:hover {
    opacity: 0.8;
  }

    .button.contact {
      background-color: transparent;
      color: #ff7f50;
      text-transform: uppercase;
      border: 2px solid #ff7f50;
    }
    .button.contact:hover {
      background-color: #ff7f50;
      color: #ffffff;
    }
  
  /* Layout styling */
  .container {
  margin: 0 15px;
    }
nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

nav > ul > li {
    display: inline-block;
  }
nav > ul > li > a {
    padding: 0 5px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
    position: relative
}

nav > ul > li > a:active {
  color: #994c30;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
    color: #ffffff;
    text-decoration: none;
  }

  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }
  #work h1 {
    text-align: center; /* Centers text */
  }

  #work,
  #contact {
    background-color: #ffe4c4;
    padding: 20px 0;
   text-align: center; /* Centers text */;
  }

#about-title,
#project-title {
    padding: 8px 0;
    margin: 16px 0;
    text-align: center; /* Centers text */
}

#work span {
  background-color: #ffe4c4;
  font-weight: 700;
  font-size: 18px;
  display: block;
  line-height: 1.2;
  padding: 8px 0;
}


  #about-page h3 { margin-top: 0;}

  #about-nav .container {
    padding: 0;
    margin: 0;
  }

  #work h2,
  #about h2,
  #project-background h2,
  #project-process h2 {
      text-align: center;
      padding: 8px 0;
      margin: 32px 0 16px 0;
  }

  #project-background h3 {
    margin: 32px 0 0 0;
}

  .row { 
      margin: 32px 0; /* 32px top and bottom, 0 left and right */
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #work .row{
    padding-bottom: 28px; 
    border-bottom: 1px;
  }
  

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
header{
  text-align:unset;
  padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  body {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
}

  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
.col-lg-3 {
  width: 25%;
}
.col-lg-4 {
  width: 33.33%;
}
.col-lg-5 {
  width: 41.66%;
}
.col-lg-7 {
  width: 58.33%;
  padding-bottom: 32px;
}
.col-lg-12 {
  width: 100%;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}
.learnings h4 {
  margin: 40px 0 0 0;
  font-weight: 700;
  font-size: 1.6em;
}
#project-background h2,
#project-process h2 {
  font-size: 2.5em;
}
.process img {
  padding: 24px 48px;
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}